/*Overall page code starts*/
body{
    margin-right: 100px;
    margin-left: 100px;
    font-family: 'Inter', sans-serif;
}
/*overall page code ends*/

/* header section starts*/

.mobile-header{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-logo{
    width: 80px; 
    padding: 0;
    margin-left: -10px;
}
.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 16px;
}
.nav-item{
    margin-left: 10px;
    margin-right: 10px;
    color: #05121A;
}
a{
    text-decoration: none;
}
a:hover{
    font-weight: 700;
}
a:active{
    font-weight: 700;
    text-decoration: underline;
}
.main-cta{
    font-family: 'Inter';
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    width: 200px;
    height: 50px;
    left: 1022px;
    top: 58px;
    background: #374B92;
    border-radius: 15px;
    border: none;
}
.main-cta:hover{
    box-shadow: 0px 0px 10px 0.54px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: #fff;
    color: #374B92;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
    padding: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/* header section ends*/
/* hero section starts*/
.get-in-touch-hero{
    height: 300px;
    width: 700px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.get-in-touch-h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.01em;
    padding: 0;
    margin: 0;
    text-align: center;
}
.get-in-touch-p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin: 0;
    padding: 10px 0px;
    text-align: center;
    color: #374B92;
}
/* hero section ends*/
/* btn-tags section starts*/
.btn-tags{
    margin: auto;
    width: 600px;
}
/* btn-tags section ends*/
/* Our Blog Starts*/
.our-blog-section{
    padding: 50px 0px;
}
.our-blog-p{
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    color: #374B92;
    margin: 0;
    padding: 0;
}
.our-blog-h2{
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    margin: 0px;
    margin: 0px 350px 0px 350px;
}

.blog-title-p{
    font-size: 16px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
    color: black;
}
.blog-date-section{
    display: flex;
    padding-left: 10px;
    align-items: center;
}
.calander-icon{
    width: 20px;
    height: 20px;
}
.blog-date{
    font-size: 16px;
    padding-left: 10px;
}
.blog-categories{
    background-color: #05121A;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin: 5px 10px;
    padding: 5px 10px;
}
.read-more-blog {
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
  text-align: right;
  margin: 0;
  padding: 0px 10px 0px 0px; /* Adjust the right padding as per your preference */
  cursor: pointer;
  color: black;
}

.rows-of-blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; /* Adjust the gap between the columns */
}

.blog-post-container {
    border: 1px solid #b8b8b8;
    border-radius: 15px;
    margin: 15px;
}

/* Our Blog Ends*/
/* Get started section starts*/
.get-started-section{
    margin: 30px 0px;
}
.get-started-container{
    background-color: #05121A;
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    text-align: center;
    padding: 100px;
    border-radius: 15px;
}
.get-started-p{
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 5px 0;
}
.get-started-h2{
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    margin: 0px;
    padding: 5px 0px;
}
.get-started-cta{
    font-family: 'Inter';
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    width: 200px;
    height: 50px;
    background: #374B92;
    border-radius: 15px;
    border: none;
    margin: auto;
}

.get-started-cta:hover{
    font-family: 'Inter';
    color: #374B92;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    width: 200px;
    height: 50px;
    background: #fff;
    border-radius: 15px;
    border: none;
    margin: auto;
}
.lets-chat{
    text-align: center;
    font-size: 10px;
    padding: 0;
    margin: 10px;
}
.up-arrow-three{
    width: 70px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 70px; /* Adjust the top position based on your desired placement */
  left: 550px;
}
.arrow-container {
    position: relative;
    height: 60px;
}
/* Get started section ends*/
/* Our Reviews Section Starts*/
.our-reviews{
    padding-top: 15px;
}
.our-reviews-p{
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    color: #374B92;
    margin: 0;
    padding: 0;
}
.our-reviews-h2{
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    margin: 0px;
    margin: 0px 350px 0px 350px;
}
.client-review-container{
    display: flex;
    justify-content: center;
    margin: 40px;
}
.client-review-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: 30px;
}
.client-review-p{
    font-size: 12px;
}
.client-review-name{
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.client-review-job{
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.review-direction-container{
    display: flex;
    margin: 0px auto;
    width: 100px;
    padding: 0;
}
.review-left-arrow{
    width: 30px;
    margin: 5px;
}
.review-right-arrow{
    width: 30px;
    margin: 5px;
}
#slide-2, #slide-3{
    display: none;
}

.reviewer-img{
    width: 312px;
    height: 370px;
    border-radius: 15px;
}
/* Our Reviews Section Ends*/
/* Footer Section Starts*/
.footer{
    display: flex;
    padding: 30px 0px;
}
.footer-1,.footer-2, .footer-3, .footer-4{
    width: 300px;
    height: 150px;
}
.footer-logo{
    width: 100px;
    height: 50px;
    margin: 0;
    padding: 0;
}
.footer-p{
    font-size: 12px;
    margin-right: 20px;
    padding: 0;
}
.social-img{
    width: 20px;
    padding-right: 5px;
    padding-top: 5px;
}
.footer-p-heading{
    font-size: 14px;
    font-weight: 700;
    text-align: start;
    margin: 0;
    padding: 0;
}
.footer-ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.footer-li{
    padding: 10px 0px;
    text-align: start;
}
.footer-icon{
    width: 20px;
    height: 20px;
    margin: auto 10px;
}
.footer-contact-container{
    display: flex;
}
.footer-contact-p{
    font-size: 12px;
    padding-left: 10px;
}

.footer-link{
    color: black;
}
/* Footer Section Ends*/
/*copyright section starts*/
.copyright-text{
    font-size: 8px;
    text-align: center;
    font-weight: 700;
}
/*copyright section ends*/

@media screen and (min-width: 200px) and (max-width: 425px) {

    /*Overall page code starts*/
body{
    margin: 0px 20px 0px 20px;
    font-family: 'Inter', sans-serif;
}
/*overall page code ends*/

    /* header section starts */
    .main-cta {
        font-size: 12px;
        width: 135px;
        height: 36px;
    }
    .mobile-header{
            display: flex;
            justify-content: space-between;
    }
    .mobile-menu-icon{
        display: block;
    }
    .desktop-header{
        display: none;
    }
    .dropdown-content{
        display: none;
        left: 100px;
        top: 70px;
    }
.nav-toggle{
    display: none;
}
    .nav-toggle:checked ~ div {
        display: block;
    }

    .dropdown-services-content{
        display: none;
    }

    .sub-nav-toggle{
        display: none;
    }
    .sub-nav-toggle:checked ~div {
        display: block;
        margin-left: 20px;
    }

    .sub-nav-toggle-label{
        font-size: 14px;
        padding: 12px 16px;
    }

    .our-services-text {
        display: block;
        padding: 0px 16px;
    }
    /* header section ends*/
    
    /* hero section starts */
    
    .btn-tags {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.get-in-touch-hero {
    height: 250px;
    width: 250px;
}

.get-in-touch-h1{
    font-size: 28;
    line-height: 30px;
}
    
    /* hero section ends*/

    /* blog section starts*/
.our-blog-h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    margin: 0px;
}
.our-blog-p {
    font-size: 12px;
}
.rows-of-blogs {
    display: flex;
    flex-direction: column;
}
.blog-post-container {
    border: 1px solid #b8b8b8;
    border-radius: 19px;
    margin: 15px;
    padding-bottom: 10px;
}
.blog-img{
    width: 100%;
}
/* blog section ends*/
    
    /* get started section starts*/

.get-started-container {
    padding: 50px;
}
.get-started-p{
    font-size: 12px;
}
.get-started-h2{
    font-size: 20px;
}

.get-started-cta {
    font-size: 15px;
    width: 150px;
    height: 40px;
}

.up-arrow-two {
    width: 32px;
    padding: 0px 20px;
    position: absolute;
    top: 5240px;   
    left: 259px;
}

.up-arrow-three{
    width: 32px;
    padding: 0px 20px;
    position: absolute;
    top: 7796px;
    left: 258px;
}
/* get started section ends*/

/* review section starts*/
.our-reviews-h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin: auto;
}

.our-reviews-p{
    font-size: 12px;
}

.client-review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

.reviewer-img-container{
    display: block;
    margin: 0px auto;
}
.client-review-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 40px 20px 40px;
    width: auto;
}

.reviewer-img {
    width: 200;
    height: 200;
    /* border-radius: 15px; */
}
/* review section ends*/

/* footer section starts*/
.footer {
    display: flex;
    flex-direction: column;
}

.footer-1, .footer-2, .footer-3, .footer-4 {
    width: auto;
    height: 175px;
    margin: auto;
    text-align: center;
}

.footer-p-heading {
    text-align: center;
}

.footer-li {
    padding: 5px;
    text-align: center;
}

.footer-contact-container {
    display: flex;
    width: 250px;
    margin: auto;
}
/* footer section ends*/



}